image: python:3.9-slim

pipelines:
  default:
    - step:
        name: Run Export Script
        caches:
          - pip
        script:
          - apt-get update && apt-get install -y wget unzip chromium chromium-driver
          - pip install -r requirements.txt
          - python src/main.py
        services:
          - docker
        variables:
          EXPRESSO_USERNAME: $EXPRESSO_USERNAME
          EXPRESSO_PASSWORD: $EXPRESSO_PASSWORD