image: python:3.9-slim

pipelines:
  default:
    - step:
        name: Run Export Script
        caches:
          - pip
        script:
          - apt-get update
          - apt-get install -y wget unzip chromium chromium-driver gcc python3-dev
          - pip install --upgrade pip
          - pip install -r requirements.txt
          - echo $SERVICE_ACCOUNT_JSON | base64 --decode > service_account.json
          - python main.py
        services:
          - docker
        variables:
          EXPRESSO_USERNAME: $EXPRESSO_USERNAME
          EXPRESSO_PASSWORD: $EXPRESSO_PASSWORD
          SERVICE_ACCOUNT_JSON: $SERVICE_ACCOUNT_JSON